.item__image{
    position: relative;

    &::before{
        content: '3 slot';
        display: block;
        width: 30px;
        height: 30px;
        background-color: #fff;
        position: absolute;
        right: 10px;
        bottom: -50%;
    }
}
.wrapper{
    padding: 100px;
}

body{
    color: white;
    font-size: 20px;
    background-color: blue;
}


.header{
    &__item{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        font-size: 30px;
            font-weight: 700;
        span{
            font-size: 30px;
            font-weight: 700;
            color: orange;
        }
    }
    &__sign{
        font-weight: 700;
        font-size: 20px;
        color: white;
        span{
           color: orange; 
        }
    }
    &__form{
        display: flex;
        flex-direction: row;
    }
}