// підключення шрифту за допомогою бібліотеки шрифтів google
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    // обнуління зовнішніх відступів 
    margin: 0;
    // фоновий колір 
    background-color: blue;
    // вказання шрифту на сторінці 
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    // зовнішні відступи по 100px - верх та низ, по 118px - зліва та справа
    margin: 100px 118px;
    // колір тексту 
    color: white;
}

.header {
    // позиціонування елементів, display: flex - за замовчування елементи стануть в один ряд, не залежно від того, блочні чи строчні вони (в ряд стануть саме дочірні елементи)
    display: flex;
    // відстань муж елементами. дочірні елементи розтягнуться рівномірно на всю ширину цього батьківського елементу. Перший дочірній стане з лівого краю, останній - з правого, інші з рівномірними відступами розмістяться між ними
    justify-content: space-between;
}

.logo {
    // товщина тексту (700 - жирне накреслення)
    font-weight: 700;
    // розмір шрифту 
    font-size: 41.3018px;
    // висота рядка тексту
    line-height: 62px;

    &__link {
        // колір тексту
        color: white;
        // прибираємо підкреслення, яке є у посилань за замовчуванням  
        text-decoration: none;
    }

    &__first {
        // колір тексту 
        color: #FB8122;
    }
}

.navigation {

    &__ul {
        // позиціонування елементів (ставимо в один рядок всі дочірні елементи)
        display: flex;
        // прибираємо маркери списку 
        list-style: none;
        // робимо відстань між колонками, між елементами 
        column-gap: 50px;

        a {
            // колір тексту 
            color: white;
            // прибираємо підкреслювання 
            text-decoration: none;
            // товщина шрифту 
            font-weight: 700;
            // розмір шрифту 
            font-size: 30px;
            // висота рядка 
            line-height: 45px;
        }
    }

    &__in {
        // колір тексту 
        color: #FB8122;
    }


}

.main {
    &__title {
        // товщина шрифту 
        font-weight: 700;
        // ширина елементу 
        width: 700px;
        // розмір шрифту 
        font-size: 45px;
        // висота рядка 
        line-height: 200%;
        // відступ між літерами у тексті (можна задавати у пікселях, саме це значення взяте з макету)
        letter-spacing: 0.1em;
        // колір тексту 
        color: #E1E2E2;

        span {
            // колір тексту 
            color: #FB8122;
        }

    }

    &__buttons {
        // позиціонування елементів (ставимо в один рядок) 
        display: flex;
        // відступи між елементами. дочірні елементи розтягнуться рівномірно на всю ширину цього батьківського елементу. Перший дочірній стане з лівого краю, останній - з правого, інші з рівномірними відступами розмістяться між ними
        justify-content: space-between;


    }

    &__button1 {
        a {
            // колір тексту 
            color: #382D5D;
            // прибираємо підкреслювання 
            text-decoration: none;
        }
        // фоновий колір 
        background-color: #FB8122;
        // товщина шрифту  
        font-weight: 700;
        // розмір шрифту 
        font-size: 30px;
        // висота рядка 
        line-height: 45px;
        // скруглення кутів елементу 
        border-radius: 15px 10px;
        // внутрішній відступ по 5px - верх та низ, по 15px - зліва та справа
        padding: 5px 15px; 
    }

    &__button2 {
        // фоновий колір елементу 
        background: rgba(225, 226, 226, 0.5);
        // скруглення кутів 
        border-radius: 15px 10px;
        // внутрішній відступ в елементі
        padding: 5px 25px;
        // товщина шрифту 
        font-weight: 700;
        // розмір шрифту 
        font-size: 30px;
        // висота рядка 
        line-height: 45px;
        // ширина елементу 
        width: 30px;
        // вирівнювання тексу 
        text-align: center;

        a {
            // колір тексту 
            color: #FB8122;
            // прибрати підкреслення 
            text-decoration: none;
        }
    }
}

.footer {
    // позиціонування елементів (ставимо в один рядок дочірні елементи)
    display: flex;

    &__list {
        // позиціонування елементів (ставимо в один рядок дочірні елементи)
        display: flex;
        // відступ між колонками дочірніх елементів 
        column-gap: 40px;
        // прибираємо маркери у списку 
        list-style: none;
        // товщина шрифту 
        font-weight: 700;
        // розмір шрифту 
        font-size: 30px;
        // обнуляємо зовнішній відступ зліва
        margin-left: 0;
        // зовнішній відступ зверху 
        margin-top: 100px;
        // обнуляємо внутрішній відступ 
        padding: 0;
    }

    &__become {
        // зовнішній відступ зверху 
        margin-top: 100px;
        // зовнішній відступ зліва 
        margin-left: 400px;
        // розмір шрифту 
        font-size: 25px;
    }
}

// медіа запит, адаптуємо зовнішній вигляд сторінки під маленькі екрани, екрани, розміри яких НЕ більше 800 пікселей
@media screen and (max-width: 800px) {
    .ubrat {
        // приховуємо елемент (його не буде відображено на сторінці)
        display: none;
    }

    .main__title {
        // ширина елементу 
        width: 150px;

    }
}