pm
pzs/books
pzs/software_engineering/inbox
pzs/Програмування Інтернет
pzs/new 1.txt
pzs/internet_programming/лекційні матеріали

pzs/internet_programming/l4/example/style.css
pzs/internet_programming/l4/example/style.css.map
pzs/internet_programming/l5/sass/style.css
pzs/internet_programming/l5/sass/style.css.map
pzs/internet_programming/лекційні матеріали/форми та предпроцесор стилів SASS (scss, вступ)/style.css
pzs/internet_programming/лекційні матеріали/форми та предпроцесор стилів SASS (scss, вступ)/style.css.map
pzs/WebDev/react 1/src/props/Login.css
pzs/WebDev/react 1/src/props/Login.css.map
pzs/WebDev/react 1/src/sports/Sports.css
pzs/WebDev/react 1/src/sports/Sports.css.map
pzs/WebDev/react 1/src/todo/Todo.css
pzs/WebDev/react 1/src/todo/Todo.css.map
.DS_Store
