/*

Властивість position визначає тип позиціювання відносно вікна браузера або інших елементів: static, relative, absolute, fixed або sticky (статичний, відносний, абсолютний, фіксований або клейкий).

static
Елементи відображаються як зазвичай (в потоці формування документа). Використання властивостей left, top, right, bottom та z-index не призводить до будь-яких результатів. Без задання.

absolute
Видаляє елемент з загального потоку (місце, що звільнив елемент заповнюється іншими елементами) і вставляється відносно свого батьківського, не статично позиційованого елемента, якщо такого елемента немає, то їм вважається вікно браузера (При цьому ширина елемента, без задання, встановлюється за його вмістом). Нове місце розраховується за допомогою властивостей left, top, right та bottom

На положення впливає значення властивості position батьківського елемента. Так, якщо у батька значення position встановлено як static або батька немає, то відлік координат ведеться від краю вікна браузера.

Якщо у батька значення position задано як relative, то відлік координат ведеться від краю батьківського елементу.

fixed
За своєю дією це значення близьке до absolute, але на відміну від нього позиціонує елемент відносно вікна браузера, а не документа та не змінює свого положення при прокручуванні веб-сторінки.

relative
Відносне позиціювання. Положення елемента встановлюється відносно його поточного положення. Додавання властивостей left, top, right і bottom змінює позицію елемента і зрушує його в ту чи іншу сторону. Ця властивість дозволяє змінюва ти позицію елемента без зміни макету.

sticky
Це поєднання відносного і фіксованого позиціонування. Елемент розглядається як відносно позиційований і прокручується разом з вмістом сторінки до тих під, поки він не перетинає певний поріг, після чого він стає фіксованим. Зазвичай застосовується для фіксації заголовка на одному місці, доки вміст, до якого належить заголовок, прокручується на сторінці.

initial
Встановлює властивість у значення без задання.

inherit
Вказує на спадковість властивостей від свого батьківського елемента.



Властивість position використовується разом з top, right, bottom і left для позиціювання елементу в потрібному місці.

*/

body{
    height: 1000px;
}
.wrapper{
    width: 600px;
    height: 600px;
    background-color: aqua;
    position: relative;

    &__item{
        width: 200px;
        height: 200px;
        background-color: coral;
        position: absolute;

        bottom: 0;
        right: 0;

        // position: inherit;
    }
}
button{
    position: fixed;
    bottom: 0;
}