/* Загальні стилі */

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem; /* 16px */
	font-family: Arial, sans-serif;
}

.container {
	display: flex;
	justify-content: space-between;
    padding: 2rem;
}

.box {
	width: 20rem;
	height: 10rem;
	background-color: #ccc;
	font-size: 2rem; /* 20px */
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 20px;
    }
    .container {
        flex-direction: column;
        row-gap: 2rem;
    }
}