/* Загальні стилі */

html {
	font-size: 62.5%; /* 1rem = 10px (62.5% від 16px) */
}

body {
	font-size: 1.6rem; /* 16px */
	font-family: Arial, sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 2rem;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

nav li {
	margin-right: 2rem;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 1.8rem; /* 18px */
}

main {
	display: flex;
	margin: 2rem;
}

section {
	flex: 3;
	margin-right: 2rem;
}

.post {
	background-color: #f2f2f2;
	padding: 1.5rem;
	margin-bottom: 2rem;
}

.post h3 {
	font-size: 2.4rem; /* 24px */
	margin-top: 0;
}

.post p {
	font-size: 1.8rem; /* 18px */
}

.post a {
	display: inline-block;
	margin-top: 1rem;
	background-color: #333;
	color: #fff;
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	font-size: 2rem;
}