/* 
обнуління всіх відступів на сторінці (* - це звернення до абсолютно всіх елементів файлу html). margin та padding - зовнішні та внутрішні відступи відповідно
*{
    margin: 0;
    padding: 0;
} 
*/
.container{
    width: 80%;
    width: 80vw;
    margin: 0 auto;
}
h2{
    background-color: yellow;
}

ul{
    /* list-style-type - параметр для зміни типу маркерування та нумерації елементів списку*/
    list-style-type: upper-latin; 
}
table, td, th{
    border: 1px solid black;
}
.td_last{
    background-color: blue;
    color: white;
}
td,th{
    text-align: center;
    /* width: 50px; */
}
table{
    width: 350px;
}
.col1{
    width: 200px;
}
/* div{
    background-color: yellow;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
} */
img{
    width: 150px;
    /* float - параметр для вирівнювання елементу по відповідну сторону вікна браузеру і по відношенню до сусідніх блоків */
    float: left;
}
.text{
    width: 100px;
    float: left;
}
h3{
    float: right;
}
.p2{
    /* очищення значення параметру вирівнювання float. Значення both - очищення двох варіантів вирівнювання - float: left та float: right, ці правила вирівнювання перестають діяти починаючи з елементу, для якого вказано clear: both;*/
    clear: both;
}

