.div{
    width: 400px;
    height: 400px;
    /* min-height: 400px; */
    /* overflow: scroll; */
    overflow-y: scroll;
    background-color: aquamarine;
    border: 1px solid black;
    padding: 30px;
    border-radius: 10px;

    margin: 0 auto;
    transition: all 300ms;
}
.div:hover{
    background-color: beige;
}
/* .div p{
    line-height: 35px;
} */
.div>p{
    line-height: 35px;
}
.title--info{
    background-color: rgba(0, 0, 255, 0.571);
}
.title--atention{
    background-color: yellow;
}
.title__item{
    /* display: block; */
    display: block;
    width: 70px;
    background-color: lawngreen;
    padding: 15px 25px;
    border-radius: 10px;
    color: rgb(89, 87, 143);
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
}
.d3{
    float: left;
    margin: 40px;
}
table{
    clear: both;
    width: 100%;
    height: 400px;
}
table,tr,td{
    border: 1px solid black;
}