*{
   margin: 0;
   padding: 0; 
}
body{
    background-color: #EEF0F1;
}
header, footer{
    background-color: #6474FF;
    min-height: 50px;
    text-align: right;
}
.btn{
    margin-right: 30px;
    margin-top: 10px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    background-color: #FFC000;
    border-radius: 10px;
    padding: 5px 15px;
}
.s1{
    height: 100px;
    width: 500px;
    background-color: #fff;
    border: 1px solid black;

    margin: 0 auto;
    margin-top: -30px;
    border-radius: 10px;
}
div{
    margin: 0 auto;
    width: 50%;
}
.s2{
    width: 100px;
    height: 300px;
    background-color: #fff;
    border: 1px solid black;
    display: inline-block;
    margin-left: 40px;
    margin-top: 50px;
}
footer{
    text-align: center;
    margin-top: 50px;
}
li{
    display: inline-block;
   
}
li a{
    color: #fff;
}