/* сайт з шрифтами https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,800;1,300;1,800&display=swap');

*{
    color: red ;
}

h1{
    text-align: center;
    /* display: inline; */
    background-color: yellow;
    margin: 40px;
    margin: 80px 10px;
    margin: 100px 50px 200px;
    margin: 30px 100px 150px 2px;

    padding: 40px;
    padding: 80px 10px;
    padding: 100px 50px 200px;
    padding: 30px 100px 150px 2px;
}
#t1{
    text-align: justify;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #000000;

}
.img1{
    width: 100px;

    display: block;
    margin: 50px auto;
}

/* h1, h6{
    display: inline;
} */

.social{
    list-style: none;
    padding: 0;
    text-align: center;
}

.social li{
    display: inline-block;
    margin-right: 40px;
    background-color: cornflowerblue;
    padding: 30px;
    font-size: 25px;
    border-radius: 100%;
    transition: all 0.6s;
}
.social li:last-child{
    margin-right: 0;
}

.social li:hover{
    background-color: yellow;
    cursor: pointer;
    padding: 20px;
}